@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #333;
  color: #f1f1f1;
  height: 100dvh; /*dynamic viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}
.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}
.separator {
    height: 1px;
}

.linear-gradient {
      background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  );
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.playlist {
  flex: 1;
  overflow-y: scroll;
}
.playlist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  color: aqua;
  text-align: center;
  background: #12c2e9;
    background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

.cardaudio {
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 100px;
    margin-bottom: 10px;
}

.cover img {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  filter: grayscale();
}

.content {
  font-size: 15px;
  color: #f1f1f1;
}

.content h3 {
  margin: 0;
}

.content p {
  margin-bottom: 0;
}

audio {
  width: 100%;
}

footer {
  text-align: center;
  padding-bottom: 5px;
}
