*{box-sizing: border-box;}
html, body {margin: 0;padding: 0;height: 100%;}

body {
    background: #333;
    color: #f1f1f1;
    height: 100dvh; /*dynamic viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playlist {
    flex: 1;
}
.playlist ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1 {
    color: aqua;
    text-align: center;
}

.cardaudio {
    display: flex;
    gap: 10px;
    align-items: center;
    background: aqua;
    border-radius: 100px;
}

.cover img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
