@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #333;
  color: #f1f1f1;
  height: 100dvh; /*dynamic viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}
.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playlist {
  flex: 1;
}
.playlist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  /* color: aqua; */
  text-align: center;
  font-size: 3rem;
  /* background: -webkit-linear-gradient(#eee, #333); */

  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardaudio {
  display: flex;
  gap: 10px;
  align-items: center;
  background: aqua;
  border-radius: 100px;
}

.cover img {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.content {
  font-size: 15px;
  color: #333;
}

.content h3 {
  margin: 0;
}

.content p {
  margin-bottom: 0;
}

audio {
  width: 100%;
}

footer {
  text-align: center;
  padding-bottom: 5px;
}
