*{box-sizing: border-box;}
html, body {margin: 0;padding: 0;height: 100%;}
body {
    background: #333;
    color: #f1f1f1;
    height: 100dvh; /*dynamic viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: aqua;
    text-align: center;
}


